$red : #d41f31;
$grey : #818285;
$yellow : #ffcb08;
$turquoise : #2bbbab;


@mixin border-style(){
	border:solid;
	border-width:1px;
	border-color:white;
}


a{
	text-decoration:none;
}

a.anchor {
    display: block;
    position: relative;
    top: -59px;
    visibility: hidden;
}

header {

	background: $red;
	height: 70px;
	position:fixed;
	width:100%;
	z-index:9999;
	
	img{
	float:left;
	height: 57px;
    position: relative;
    top: 4px;
    left: 66px;
	}
	
	ul {
		float : right;
		position: relative;
		top: 23px;
		left: -43px;

		li {
			padding:12px;
			display:inline;
	
			
			
			a{
				color:white;
			}
			a:hover{
				color:white;
				text-decoration:none;
			}
			
		}
		li:hover{
			@include border-style();
		}
		
		
	}


}

#aboutSection{
	background-image:url("../../assets/img/hero.png");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	width:100%;
	
	div{
		height: 188px;
		width: 681px;
		background:rgba(0, 0, 0, 0.09);
		position: relative;
		top: 146px;
		left: 253px;
		border:solid;
		border-color:white;
		border-width:5px;
		display:none;
		
		p{
			color:white;
			margin-left:auto;
			margin-right:auto;
			vertical-align:middle;
			font-size: 26px;
			width: 541px;
			position: relative;
			top: 61px;
		}
	}
}

#introSection{

		.row{
		
				background-color:$grey;
				color:white;
				
				h1{
				    font-family: Libre Baskerville;
					font-size: 26pt;
				}
				
				
				div{
				
					margin-top:6%;
					margin-bottom:6%;				
				}
				
				
				
				.introPic{
					height:100%;
					width:100%;
				}
					
				ul{
						margin-top:15%;
						li {
							padding:12px;
							display:inline-block;
					
							
							
							a{
								color:white;
							}
							a:hover{
								color:white;
								text-decoration:none;
							}	
							
						}
						li:hover{
							@include border-style();
						}
				}
		
		}
	

}

#ourWorkSection{
	

	
	.row{
		.seeOurWork{
		
			margin-left:31%;
			color:$grey;
			h6{
				@include border-style();
				border-color:$grey;
				color:$grey;
				width: 82px;
				padding: 5px;
				margin-top:61px;
				text-align:center;
			}
			
			h2{
				margin-top:152px;
			}
			p{
				border:none;
				padding:0px;
				width:324px;
			}
		}
		
	}
	
	
	
	
	ul{
		list-style-type:none;
		   margin-top: 61px;
		margin-bottom: 31px;
	
		li{
			margin-bottom:29px;
					
			img{
					display:block;
					width:100%;
					height:auto;
			}
		}
	}
}


#teamSection{
	width:100%;
	padding-bottom:10%;
	min-height:368px;
	background-image:url("../../assets/img/team.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-color:$grey;
	color:white;
	
	
		
	h5{
		@include border-style();
		padding: 5px;
		width: 180px;
		text-align:center;
		position: relative;
		margin-left: 61%;
		top: 36px;
	}
	
	#meet{
	    position: relative;
		top: 36px;
		margin-left: 61%;
	}
	
	ul{
		li{
			display:inline-block;
			background-color:$grey;
			@include border-style();
			width:98%;
			padding-bottom:30%;
			
			h3{
				font-family:Libre Baskerville;
				font-size:14px;
			}
			
		}
		
	}

}

footer{
	background-color:$red;
	color:white;
	height:256px;
	overflow:hidden;
	
	ul{
		list-style-type:none;
		margin-top: 56px;
		float:left;
	
		}

	p{
		@include border-style();
		width: 126px;
		padding: 12px;
		position: relative;
		top: 37px;
		left: 53px;
	}
	
	#footerlogo{
		float:right;
		position: relative;
		top: -150px;
		}
	
}
	
.back{
	float:right;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


